.app-container {
  background-color: #000;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
}

.task-card {
  background-color: #be466e;
  border-radius: 12px;
  padding: 24px;
  width: 600px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.4);
}

mat-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 22px;
}
